@use "./main.scss";

#dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;
  font-family: sans-serif;
  .navbar {
    width: 100vw;
    height: 100px;
    background-color: rgb(78, 141, 185);
    padding: 16px;
    display: flex;
    box-sizing: border-box;
    // align-items: center;
    p {
    //   font-family: sans-serif;
      color: white;
      font-size: 70px;
      //   font-weight: 700;
      font-weight: 800;
      span {
        font-weight: 100;
        //   font-size: 50px;
        //   font-weight:lighter;
      }
    }
  }
  .filter-area {
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    // justify-content: space-between;
    // div {
    //     // width: 30%;
    // }
    .input {
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 400px;
      label{
          font-size: 16px;
        font-weight: 700;
    }
    input {
        border-radius: 5px;
        height: 30px;
        margin-top: 8px;
      }
    }
    .checkbox {
        margin-top: 20px;
        font-weight: 700;
      font-size: 16px;
      gap: 8px;
      padding: 16px;
      display: flex;
      align-items: center;
    }
    .button-wrapper {
      display: flex;
      align-items: center;
      button {
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        border-radius: 10px;
        color: white;
        font-size: 24px;
        height: 50px;
        background-color: rgb(78, 141, 185);
      }
    }
  }

  .content {
    // background-color: pink;
    padding: 16px;
    width: 95vw;
    box-sizing: border-box;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    .header {
      display: flex;
      align-items: center;
      font-size: 32px;
      font-weight: 600;
      // background-color: aqua;
      padding: 16px;
    }
    .data {
      padding: 16px;
      // background-color: aquamarine;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-top: 1px solid black;
      .left {
        display: flex;
        gap: 8px;
        flex-direction: column;
        .job-title {
          font-size: 24px;
          color: rgb(37, 143, 196);
          cursor: pointer;
        }
        span {
          color: green;
        }
      }
      .right {
        display: flex;
        gap: 8px;
        flex-direction: column;
      }
    }
  }

  .more-jobs {
    width: 100%;
    display: flex;
    justify-content: center;
    button {
      background-color: rgb(78, 141, 185);
      width: 100%;
      height: 40px;
      border-radius: 8px;
    }
  }
}
